#canvas1{
	opacity: 0.99;
	position:absolute;
	z-index:0;
}
#canvas2{
	opacity: .8;
	position: absolute;
	z-index:1;
}
#bCanvas{
	background-color:black;
	border: 2px solid black;
}
#canvas{
	
	border: 2px solid black;
}
section{
	padding-bottom: 5px;
}
h2{
	margin-bottom: 3px;
}
#controls{
	float: right;
	margin-right: 150px;
}